<template>
  <section id="contato">
    <v-container>
      <v-layout row wrap justify-center class="my-5">
        <v-flex xs12 sm12>
          <v-card class="">
            <v-card-title primary-title class="layout justify-center">
              <div class="titulo secondary--text">
                Quer ajudar? 
              </div>
            </v-card-title>
            
            <div class="text-xs-center pa-3">
              <v-btn
                outline
                color="primary"
                to="participe"
              >
                Veja como contribuir
              </v-btn>

              <v-card-text class="text-xs-center">
                Informações - Fale conosco!
              </v-card-text>
              <v-list class="transparent">
                <v-list-tile v-for="contact in contacts" :key="contact.info">
                  <v-list-tile-action>
                    <v-icon class="blue--text text--lighten-2">
                      {{ contact.icon }}
                    </v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ contact.name }}: {{ contact.info }}</v-list-tile-title>
                    <a :href="`https://api.whatsapp.com/send?phone=5567${contact.info}`">Abrir no Whatsapp</a>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  data() {
    return {
      contacts: [
        {
          name: 'Amanda Weber',
          info: '98407-3132',
          icon: 'mdi-whatsapp'
        },
        {
          name: 'Diego Oliver',
          info: '98414-6312',
          icon: 'mdi-whatsapp'
        },
        {
          name: 'Juliana',
          info: '99629-4261',
          icon: 'mdi-whatsapp'
        }
      ]
    }
  }
}
</script>
