<template>
  <v-navigation-drawer v-model="drawer" app right floating>
    <v-list>
      <v-list-tile avatar>
        <v-list-tile-avatar color="white">
          <v-img src="../assets/logo.png" height="84" contain />
        </v-list-tile-avatar>

        <v-list-tile-title class="text-uppercase grey--text">
          <span class="font-weight-light">
            Projeto &nbsp;
          </span>
          <span>Ser Presente</span>
        </v-list-tile-title>
      </v-list-tile>

      <v-divider />
      <v-list-tile
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-text="item.title" />
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: ['drawer'],
  data() {
    return {
      items: [
        {
          icon: 'apps',
          title: 'página inicial',
          to: '/'
        },
        {
          icon: 'mdi-script-outline',
          title: 'nossa história',
          to: '/historia'
        },
        {
          icon: 'mdi-charity',
          title: 'participe',
          to: '/participe'
        },
        {
          icon: 'mdi-camera',
          title: 'galeria',
          to: '/media'
        },
        {
          icon: 'mdi-account',
          title: 'contato',
          to: '/contato'
        },
        {
          icon: 'mdi-calendar',
          title: 'agenda de entregas',
          to: '/agenda'
        },
        {
          icon: 'mdi-instagram',
          title: 'instagram',
          to: 'https://www.instagram.com/projetoserpresente/'
        }
      ],
      title: 'Projeto Ser Presente',
      icons: ['mdi-instagram']
    }
  }
}
</script>
