<template>
  <section id="empresas">
    <v-layout
      column
      wrap
      class="my-5 grey lighten-3"
      align-center
    >
      <v-flex xs12 class="my-3">
        <div class="text-xs-center">
          <h2 class="headline">
            Empresas que apoiam o projeto
          </h2>
          <span class="subheading" />
        </div>
      </v-flex>
        
      <v-flex xs12>
        <v-container fluid grid-list-xl>
          <v-layout row wrap align-center>
            <v-flex
              v-for="empresa in empresas"
              :key="empresa.nome"
              xs6
              md4
              class="my-3"
            >
              <v-card flat class="elevation-0 transparent">
                <v-card-text class="text-xs-center">
                  <v-icon x-large class="blue--text text--lighten-2">
                    {{ empresa.image }}
                  </v-icon>
                </v-card-text>
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline text-xs-center">
                    {{ empresa.nome }}
                  </div>
                </v-card-title>
              </v-card>
            </v-flex>
          </v-layout>

          <div class="text-xs-center">
            <v-btn round color="primary">
              Seja uma empresa parceira
            </v-btn>
          </div>
        </v-container>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
export default {
  data: () => ({
    length: 3,
    empresas: [
      {
        nome: 'boloko LLC',
        image: 'mdi-adobe'
      },
      {
        nome: 'jorge LTDA',
        image: 'mdi-amazon'
      },
      {
        nome: 'yvfb Trademark',
        image: 'mdi-apple'
      },
      {
        nome: 'Empresa 3',
        image: 'mdi-android'
      },
      {
        nome: 'Empresa 3',
        image: 'build'
      },
      {
        nome: 'Empresa 3',
        image: 'build'
      }
    ]
  })
}
</script>
