<template>
  <section id="cards">
    <v-layout column wrap class="my-2" align-center>
      <v-flex xs12 sm4 class="my-1">
        <div class="text-xs-center">
          <h2 class="headline">
            Nós precisamos de <b>VOCÊ!</b>
          </h2>
          <span class="subheading" />
        </div>
      </v-flex>
      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap align-center>
            <v-flex xs12 md4>
              <v-card class="elevation-2" hover>
                <v-img src="/girl.jpg" height="200px" />
                <v-card-title
                  primary-title
                  class="layout justify-center mb-0"
                >
                  <div class="headline text-xs-center">
                    FASE 1: ARRECADAÇÕES
                  </div>
                </v-card-title>
                <v-card-text class="text-xs-center">
                  Para continuar espalhando sorrisos, precisamos de sua ajuda!
                  Vamos ajudar?
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 md4>
              <v-card
                class="elevation-0"
                hover
                dark
                ripple
                @click="show = !show"
              >
                <v-card-text class="text-xs-center">
                  <v-icon
                    x-large
                    class="blue--text text--lighten-2"
                  >
                    mdi-egg-easter
                  </v-icon>
                </v-card-text>
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">
                    Confecção
                  </div>
                </v-card-title>
                <v-card-text>
                  Cras facilisis mi vitae nunc lobortis pharetra. Nulla
                  volutpat tincidunt ornare. Pellentesque habitant morbi
                  tristique senectus et netus et malesuada fames ac turpis
                  egestas. Nullam in aliquet odio. Aliquam eu est vitae tellus
                  bibendum tincidunt. Suspendisse potenti.
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 md4>
              <v-card class="elevation-3" style="border-radius: 30px">
                <v-img
                  src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                  height="200px"
                />
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline text-xs-center">
                    Distribuição
                  </div>
                </v-card-title>
                <v-card-text>
                  Cras facilisis mi vitae nunc lobortis pharetra. Nulla
                  volutpat tincidunt ornare. Pellentesque habitant morbi
                  tristique senectus et netus et malesuada fames ac turpis
                  egestas. Nullam in aliquet odio. Aliquam eu est vitae tellus
                  bibendum tincidunt. Suspendisse potenti.
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </section>
</template>
