<template>
  <section id="cards">
    <v-container grid-list-xl>
      <v-layout
        column
        wrap
        justify-center
      >
        <v-flex xs12 sm12>
          <v-card class="">
            <v-card-title primary-title class="layout justify-center">
              <div class="titulo secondary--text">
                Como funciona
              </div>
            </v-card-title>
            <v-card-text>
              <v-card-text class="text-xs-center title font-weight-regular">
                O projeto começa a se preparar muito antes da páscoa. As tarefas são dividias em 4 fases:
              </v-card-text>
              
              <v-layout row wrap>
                <v-flex
                  v-for="step in steps"
                  :key="step.name"
                  xs12
                  md6
                  mb-2
                >
                  <v-card :color="`${step.color} lighten-5`">
                    <v-img
                      :src="`/images/${step.image}.jpg`"
                      height="300px"
                    />
                    <v-card-text primary-title class="layout justify-center ma-0">
                      <div class="subtitulo text-xs-center">
                        {{ step.name }}
                      </div>
                    </v-card-text>
                    <v-card-text class="subheading font-weight-light text-xs-center">
                      {{ step.text }}
                    </v-card-text>

                    <div v-if="step.btn_text" class="text-xs-center pa-2">
                      <v-btn
                        outline
                        color="primary"
                        :to="step.btn_link"
                      >
                        {{ step.btn_text }}
                      </v-btn>
                    </div>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  data() {
    return {
      steps: [
        {
          name: 'Cadastramento',
          image: 'girl',
          color: 'red',
          btn_text: 'Conheça as Instituições',
          btn_link: 'instituicoes',
          text:
            'FASE 1: Determina-se quais instituições participarão do projeto neste ano para assim traçar uma meta de confecção de ovos.'
        },
        {
          name: 'Arrecadação',
          image: 'arrec1',
          color: 'blue',
          btn_text: 'Saiba como ajudar',
          btn_link: 'participe',
          text:
            'FASE 2: Além das barras de chocolate, nesta fase juntamos todos os materiais para o funcionamento da fábrica de sorrisos'
        },
        {
          name: 'Confecção',
          image: 'confeccao',
          color: 'red',
          btn_text: 'Calendário',
          btn_link: 'agenda',
          text:
            'FASE 3: Realizada em um final de semana, os ovos são produzidos e embalados em uma linha de produção elaborada ao longo dos anos.'
        },
        {
          name: 'Distribuição',
          image: 'entrega',
          color: 'blue',
          btn_text: 'Galeria',
          btn_link: 'galeria',
          text:
            'FASE 4: Por fim, os ovos de chocolate são trocados por sorrisos nas duas semanas que antecedem a páscoa'
        }
      ]
    }
  }
}
</script>
