<template>
  <v-footer dark app absolute height="auto">
    <v-layout justify-center row wrap primary>
      <v-btn
        v-for="link in links"
        :key="link"
        color="white"
        flat
        small
        round
        :to="link.link"
      >{{ link.title }}</v-btn>
      <v-flex primary text-xs-center white--text xs12>
        <v-card class="flex" flat tile>
          <v-card-title class="primary darken-1 justify-center">
            <strong class="subheading text-xs-center">
              Ninguém é tão forte que não precise de ajuda e ninguém é tão fraco
              que não possa ajudar!
            </strong>
          </v-card-title>

          <v-card-actions class="caption font-weight-thin grey darken-3 justify-center">
            &copy;2020 —
            <strong>
              <a href="http://cv.yuribecker.com.br">yvfbckr</a> &
              <!-- <a href="http://amandagweber.surge.sh/"> -->
              agwbr
              <!-- </a> -->
            </strong>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    links: [
      { title: 'Home', link: '/' },
      { title: 'Nossa história', link: '/historia' },
      { title: 'Participe', link: '/participe' },
      { title: 'Locais de Coleta', link: '/locais_coleta' },
      { title: 'Galeria', link: 'galeria' },
      { title: 'Agenda', link: '/agenda' },
      { title: 'Instituições', link: '/instituicoes' },
      { title: 'Contato', link: '/contato' }
    ]
  })
}
</script>
