<template>
  <section id="hero" class="mt-1">
    <v-img class="hero" src="/images/ovo.jpg">
      <v-layout column align-center class="white--text">
        <!-- <h1 class="black--text mb-2 display-2 text-xs-center">Projeto Ser Presente</h1>
            <div class="subheading mb-3 text-xs-center">Campo Grande - MS</div> -->
        <!-- <v-btn
              class="primary lighten-2 mt-5"
              dark
              fab
              to="/doar"
            >
              ola
            </v-btn> -->
      </v-layout>
    </v-img>
  </section>
</template>

<style>
.hero {
  height: 100vh;
}
</style>
