<template>
  <section ref="hero" class="hero">
    <div class="hero-inner px-1">
      <h1>Projeto Ser Presente</h1>
      <h2>
        Distribuindo sorrisos em forma de ovos de páscoa!
      </h2>
      <v-btn ref="button" class="mt-5" color="primary" outline @click="$vuetify.goTo(target, {duration: 1800, easing: 'easeInOutCubic'})">
        Saiba mais
      </v-btn>
    </div>
  </section>
</template>

<script>
import * as easings from 'vuetify/es5/util/easing-patterns'

export default {
  data() {
    return {
      type: 'number',
      number: 500,
      duration: 300,
      easing: 'easeInOutCubic',
      easings: Object.keys(easings)
    }
  },
  computed: {
    target() {
      return this.$refs.hero.clientHeight + 64
    },
    options() {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    }
  }
}
</script>


<style>
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white; /* ADD THIS LINE */

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('/images/ovo.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Sarabun', sans-serif; */
  /* font-family: 'Tillana', cursive; */
  font-family: 'Montez', cursive;
  color: primary;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}
/* 
.hero h2 {
  font-family: 'Indie Flower', cursive;
} */

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 30vw;

  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  color: white; /* CHANGE THIS LINE */
  text-decoration: none;
  font-size: 1.5em;

  /* Border styles */
  border: 3px solid white; /* CHANGE THIS LINE */
  border-radius: 20px;
}
</style>
