<template>
  <section id="parallax_impactos">
    <v-parallax src="/hero.jpg" height="200">
      <v-layout column align-center justify-center>
        <div class="headline white--text mb-3 text-xs-center">
          Impactos
        </div>
        <em>Dos anos passados</em>
        <v-btn
          class="blue lighten-2 mt-5"
          dark
          large
          href="/blog"
        >
          Ver resultados
        </v-btn>
      </v-layout>
    </v-parallax>
  </section>
</template>
