<template>
  <section id="projeto">
    <v-container grid-list-xl>
      <v-layout row wrap justify-center class="my-1">
        <v-flex xs12 sm12>
          <v-card class="">
            <v-card-title primary-title class="layout justify-center">
              <div class="titulo secondary--text ">
                Sobre o projeto
              </div>
            </v-card-title>
            <v-card-text class="px-5 text-xs-center title font-weight-regular">
              Ser presente significa contribuir para um mundo com menos
              diferenças. Este projeto distribui sorrisos que chegam em forma
              de ovos de páscoa. Ao confeccionar os ovos, atingimos um custo
              unitário muito inferior ao valor comercial dos ovos de páscoa,
              sendo possível atender mais crianças. Com o trabalho, também se
              perpetuam nas vidas dos voluntários valores de amor, respeito e
              dignidade.
            </v-card-text>

            <div class="text-xs-center pa-3">
              <v-btn
                outline
                color="primary"
                to="historia"
              >
                Nossa história
              </v-btn>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>
