<template>
  <v-toolbar
    scroll-off-screen
    app
    color="white"
  >
    <v-toolbar-title />
    <nuxt-link to="/">
      <div>
        <span class="text-uppercase primary--text font-weight-light title">
          Projeto
        </span>
        <span class="text-uppercase secondary--text title">
          Ser Presente
        </span>
      </div>
    </nuxt-link>
    <v-spacer />
    <v-toolbar-side-icon @click="drawer = !drawer" />
  </v-toolbar>
</template>

<script>
export default {
  props: ['drawer'],
  data() {
    return {
      title: 'Projeto Ser Presente'
    }
  }
}
</script>
