<template>
  <section id="parallax_voluntarios">
    <v-parallax src="/hero2.jpg" height="600">
      <v-layout column align-center justify-center>
        <div class="headline black--text mb-3 text-xs-center">
          Ajude-nos a distruir felicidade
        </div>
        <em class="black--text">
          Kick-start your application today
        </em>
        <v-btn class="blue lighten-2 mt-5" dark large href="/pre-made-themes">
          Seja voluntário
        </v-btn>
      </v-layout>
    </v-parallax>
  </section>
</template>
