@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Sarabun');
@import url('https://fonts.googleapis.com/css?family=Montez|Tillana');

.page-enter-active, .page-leave-active {
    transition: all 0.5s;
  }
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.rounded-edges {
  border-radius: 20px;
}

.titulo {
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Sarabun', sans-serif; */
  /* font-family: 'Tillana', cursive; */
  font-family: 'Montez', cursive;
  /* font-family: 'Arial-light' */
  font-size: 55px;
  text-align: center;
}

.subtitulo {
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Sarabun', sans-serif; */
  /* font-family: 'Tillana', cursive; */
  font-family: 'Montez', cursive;
  /* font-family: 'Helvetica'; */
  font-weight: 'light';
  font-size: 45px;
  text-align: center;
}