<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app temporary>
      <v-list>
        <v-list-tile avatar>
          <v-list-tile-avatar color="white">
            <v-img src="/images/logo.png" height="84" contain />
          </v-list-tile-avatar>

          <v-list-tile-title class="text-uppercase grey--text">
            <span class="font-weight-light">
              {{ title1 }} &nbsp;
            </span>
            <span> {{ title2 }} </span>
          </v-list-tile-title>
        </v-list-tile>

        <v-divider />
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile
          exact
          :href="instaLink"
        >
          <v-list-tile-action>
            <v-icon>mdi-instagram</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>instagram</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar
      scroll-off-screen
      app
      color="white"
      prominent
    >
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title />
      <nuxt-link to="/">
        <div>
          <span class="text-uppercase primary--text font-weight-light title">
            {{ title1 }}
          </span>
          <span class="text-uppercase secondary--text title">
            {{ title2 }}
          </span>
        </div>
      </nuxt-link>
      <v-spacer />
    </v-toolbar>

    <v-content mb-2>
      <nuxt />
    </v-content>

    <mFooter app/>
  </v-app>
</template>

<script>
import mFooter from '@/components/footer.vue'

export default {
  components: {
    mFooter
  },
  data() {
    return {
      drawer: false,
      title1: 'Projeto',
      title2: 'Ser Presente',
      title: 'Projeto Ser Presente',
      logoDir: '/images/logo.png',
      instaLink: 'https://www.instagram.com/projetoserpresente/',
      items: [
        {
          icon: 'apps',
          title: 'página inicial',
          to: '/'
        },
        {
          icon: 'mdi-script-outline',
          title: 'nossa história',
          to: '/historia'
        },
        {
          icon: 'mdi-charity',
          title: 'participe',
          to: '/participe'
        },
        {
          icon: 'mdi-map-marker',
          title: 'locais de coleta',
          to: '/locais_coleta'
        },
        {
          icon: 'mdi-camera',
          title: 'galeria',
          to: '/galeria'
        },
        {
          icon: 'mdi-calendar',
          title: 'agenda',
          to: '/agenda'
        },
        {
          icon: 'mdi-account-group',
          title: 'instituições beneficiadas',
          to: '/instituicoes'
        },
        {
          icon: 'mdi-account',
          title: 'contato',
          to: '/contato'
        }
      ]
    }
  }
}
</script>
<style scoped>
a {
  text-decoration: none;
  color: white;
}

.v-content {
  background-image: url('/bunnies4.jpg');
  background-repeat: repeat;
}
</style>
