<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 sm6 class="my-2 px-1">
        <v-date-picker
          ref="picker"
          v-model="date"
          locale="pt-br"
          color="secondary"
          :events="meusEventos2020.map(obj => obj.date)"
          event-color="primary"
          :show-current="dateCurrent"
          min="2019-02"
          max="2019-05"
          full-width
        />
      </v-flex>
      <v-flex xs12 sm6 class="my-2 px-1">
        <v-list two-line subheader>
          <v-subheader inset>Entregas dos ovos</v-subheader>

          <v-list-tile
            v-for="event in sortedArray"
            :key="event.title"
            avatar
            ripple
            :color="date === event.date ? 'primary' : '' "
            @click="date = event.date"
          >
            <v-list-tile-avatar>
              <v-icon :color="date === event.date ? 'primary' : '' ">{{ event.icon }}</v-icon>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>{{ event.titulo }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ event.date | localeDate }} - {{ event.horario }}</v-list-tile-sub-title>
              <v-list-tile-sub-title>{{ event.endereco }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  filters: {
    localeDate: val => {
      const options = {
        weekday: 'long',
        year: 'numeric',
        month: 'numeric',
        day: 'numeric'
      }
      if (!val) return ''
      const s = new Date(val + 'EDT')
      return s.toLocaleDateString('pt-BR', options)
    }
  },
  data: () => ({
    date: '2020-03',
    arrayEvents: null,
    dateCurrent: new Date().toISOString().substr(0, 10),
    meusEventos2020: [
      {
        date: '2020-03-27',
        titulo: 'Confecção',
        horario: 'Manhã',
        endereco: 'Salão da N. Sra. de Fátima',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2020-03-28',
        titulo: 'Confecção',
        horario: 'Manhã',
        endereco: 'Salão da N. Sra. de Fátima',
        icon: 'mdi-egg-easter'
      }
    ],
    meusEventos2019: [
      // {
      //   date: '2019-04-05',
      //   titulo: 'Confecção',
      //   horario: 'A partir das 15h30',
      //   endereco:
      //     'Loja Maçonica Raul Sans de Matos - Rua Assunção, 1200 - Rita Vieira 1',
      //   icon: 'mdi-wrench'
      // },
      // {
      //   date: '2019-04-06',
      //   titulo: 'Confecção',
      //   horario: 'A partir das 8h30',
      //   endereco:
      //     'Loja Maçonica Raul Sans de Matos - Rua Assunção, 1200 - Rita Vieira 1',
      //   icon: 'mdi-wrench'
      // },
      // {
      //   date: '2019-04-07',
      //   titulo: 'Confecção',
      //   horario: 'A partir das 8h30',
      //   endereco:
      //     'Loja Maçonica Raul Sans de Matos - Rua Assunção, 1200 - Rita Vieira 1',
      //   icon: 'mdi-wrench'
      // },
      // {
      //   date: '2019-04-11',
      //   titulo: ' LBV',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Av Marechal Deodoro 5055 - Conj. Aero Rancho',
      //   icon: 'mdi-egg-easter'
      // },
      {
        date: '2019-04-17',
        titulo: 'AMATI',
        horario: 'A partir das 15h30',
        endereco: 'Rua Thison de Almeida, 2042 - Aero Rancho',
        icon: 'mdi-egg-easter'
      },
      // {
      //   date: '2019-04-12',
      //   titulo: 'Projeto Florestinha II - Mata Segredo',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Josefina Mingarelli, 1 - Jardim Presidente',
      //   icon: 'mdi-egg-easter'
      // },
      {
        date: '2019-04-17',
        titulo: 'EMEI Juracy Galvâo',
        horario: 'A partir das 14h',
        endereco:
          'Avenida Marines Souza Gomes, s/n / Bairo Maria Aparecida Pedrossian',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-15',
        titulo: 'Escola Nilda de Almeida Coelho',
        horario: 'A partir das 9h',
        endereco: 'Rua Takeshi Higuchi s/n - Bairro Vida Nova II',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-12',
        titulo: 'Educandário GV',
        horario: 'A partir das 8h',
        endereco: 'Av Coronel Antonino , 1200  -  Coronel Antonino',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-15',
        titulo: 'Vicentinos',
        horario: 'A partir das 18h30',
        endereco: 'Rua Frei Gregório 537 - Monte Libano',
        icon: 'mdi-egg-easter'
      },
      // {
      //   date: '2019-04-13',
      //   titulo: 'CEINF Bem-te-vi',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Heitor Vieira de Almeida, 245 - Jardim Aeroporto',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-13',
      //   titulo: 'CEINF Moreninha III',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Mandacaru, 140 Moreninha III',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-13',
      //   titulo: 'CEINF José Carlos de Lima Moreninha IV',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Antônio Pires de Oliveira, 144 Moreninha IV',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-14',
      //   titulo: 'CEINF Ipiranga',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Nove de Julho, 2060 - Vila Ipiranga',
      //   icon: 'mdi-egg-easter'
      // },
      {
        date: '2019-04-16',
        titulo: 'CEINF Paulo Siufi',
        horario: 'A partir das 8h',
        endereco: 'Rua Genebra, 230 - Vila Marabá',
        icon: 'mdi-egg-easter'
      },
      // {
      //   date: '2019-04-14',
      //   titulo: 'Corguinho - Comunidade Boa sorte',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Corguinho',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-14',
      //   titulo: 'Corguinho - Creche',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Corguinho',
      //   icon: 'mdi-egg-easter'
      // },
      {
        date: '2019-04-15',
        titulo: 'Corguinho - Escola',
        horario: '',
        endereco: 'Corguinho',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-15',
        titulo: 'Corguinho - Paroquia Sr Bom Jesus',
        horario: '',
        endereco: 'Corguinho',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-20',
        titulo: 'Aprendizes do Bem - Evangelização',
        horario: 'A partir das 9h',
        endereco: '	Rua Antonio Inácio onio de Souza, 440 - São Conrado',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-13',
        titulo: 'Oratório São Caetano',
        horario: 'A partir das 16h',
        endereco: 'R. Eugênia da Costa Lima, 304-366',
        icon: 'mdi-egg-easter'
      },
      // {
      //   date: '2019-04-14',
      //   titulo: 'CEINF Paulo Siufi',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Genebra, 230 - Vila Marabá',
      //   icon: 'mdi-egg-easter'
      // },
      {
        date: '2019-04-13',
        titulo: 'CERC - Mãe Maria Catarina',
        horario: 'A partir das 10h30',
        endereco: 'Rua Divinópolis, 319, Vila Nasser',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-16',
        titulo: 'EMEI Maria Oliveira Lima',
        horario: 'A partir das 13h30',
        endereco: 'Rua Barueri, esquina com Arati - Moreninha 1',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-13',
        titulo: 'Escolinha Filhos da Misericórdia',
        horario: 'A partir das 9h30',
        endereco: 'Rua Emiliana Arruda de Araújo, 375',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-14',
        titulo: 'Moradores Alves Pereira',
        horario: 'A partir das 8h30',
        endereco: 'Campo de Futebol - Av. Guaicurus - Jd Colibri',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-13',
        titulo: 'Escola Irmã Florinda',
        horario: 'A partir das 15h30',
        endereco: 'Rua Guenko Kazuque 681 Bairro Imperial',
        icon: 'mdi-egg-easter'
      },
      // {
      //   date: '2019-04-14',
      //   titulo: 'Casa de Oração Jesus Maria',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Cel Rogaciano Ferreira Mendes, 359',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-19',
      //   titulo: '	Postos - Centro Espírita Caridade o Camino',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      {
        date: '2019-04-14',
        titulo: 'Posto Irmão Auréo',
        horario: 'A partir das 9h',
        endereco: 'Bairro Dom Antonio Pereira',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-14',
        titulo: 'Posto Meimei',
        horario: 'A partir das 10h',
        endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
        icon: 'mdi-egg-easter'
      },
      // {
      //   date: '2019-04-19',
      //   titulo: 'Posto Nympho Corrêa',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-19',
      //   titulo: 'Posto Auta de Souza',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-19',
      //   titulo: 'Posto Maria de Nazaré',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-19',
      //   titulo: 'CEINF Clotilde Chaia',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      {
        date: '2019-04-15',
        titulo: 'Creche Anandamoy Roxinha',
        horario: 'A partir das 14h',
        endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
        icon: 'mdi-egg-easter'
      },
      {
        date: '',
        titulo: 'Instituto Eurípedes Barsanulfo',
        horario: '',
        endereco: 'Chácara CTEB',
        icon: 'mdi-egg-easter'
      },
      {
        date: '',
        titulo: 'Espírita Anália Franco',
        horario: '',
        endereco: 'Rua Alberto Albertini, 394 - Jardim Los Angeles',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-12',
        titulo: 'CEPROSPAL Centro de Promoção Social Palotina',
        horario: 'A partir das 14h',
        endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-12',
        titulo: 'ALPA Irmãos de Assis',
        horario: 'A partir das 15h',
        endereco: 'Rua Marrei Júnior, 280',
        icon: 'mdi-egg-easter'
      },
      // {
      //   date: '2019-04-19',
      //   titulo: 'Escola Padre Tomaz Ghiraldelli (Demolay - Nova Era)',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-20',
      //   titulo: 'Geração de Samuel',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-20',
      //   titulo: 'Geração de Samuel',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-20',
      //   titulo:
      //     'SIRPHA - Sociedade de Integração Reabilitação Pessoa Humana',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      {
        date: '2019-04-20',
        titulo: 'Escola Clínica Santa Terezinha',
        horario: 'A partir das 10h30',
        endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
        icon: 'mdi-egg-easter'
      },
      {
        date: '2019-04-21',
        titulo: 'Regional e Santa Casa',
        horario: 'A partir das 8h30',
        endereco: '',
        icon: 'mdi-egg-easter'
      },
      // {
      //   date: '2019-04-20',
      //   titulo: 'CEINF Zacarias Vieira de Andrade',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-20',
      //   titulo: 'Projeto Florestinha I',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      // {
      //   date: '2019-04-21',
      //   titulo: 'Sociedade Espírita Missionária da Luz',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // },
      {
        date: '2019-04-16',
        titulo: 'EMEI Neida Gordin Freire',
        horario: 'A partir das 14h15',
        endereco: 'Rua Mandacaru, 140 - Moreninha III',
        icon: 'mdi-egg-easter'
      }
      // {
      //   date: '2019-04-21',
      //   titulo: 'Nova Era - Mulheres',
      //   horario: 'A partir das 8h30',
      //   endereco: 'Rua Evaristo da Veiga, 765. Jd Noroeste',
      //   icon: 'mdi-egg-easter'
      // }
    ]
  }),
  computed: {
    sortedArray() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.meusEventos2020.sort(
        (a, b) => new Date(a.date) - new Date(b.date)
      )
    }
  }
}
</script>
