<template>
  <v-layout row wrap>
    <v-flex xs12 sm4 offset-sm4>
      <v-card class="ma-2">
        <v-card-title class="primary--text">
          <div class="titulo primary--text">
            Informações
          </div>
        </v-card-title>
        <v-parallax
          src="/images/kid.jpg"
          height="500"
        />

        <v-list class="transparent">
          <v-list-tile v-for="contact in contacts" :key="contact.info">
            <v-list-tile-action>
              <v-icon class="blue--text text--lighten-2">
                {{ contact.icon }}
              </v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ contact.name }}: {{ contact.info }}</v-list-tile-title>
              <a :href="`https://api.whatsapp.com/send?phone=5567${contact.info}`">Abrir no Whatsapp</a>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data() {
    return {
      contacts: [
        {
          name: 'Amanda Weber',
          info: '98407-3132',
          icon: 'mdi-whatsapp'
        },
        {
          name: 'Kamilla Zancanelli',
          info: '99844-6589',
          icon: 'mdi-whatsapp'
        }
      ]
    }
  }
}
</script>
