<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3>
        <v-card class="ma-2">
          <v-card-title class="primary--text">
            <div class="titulo">
              Galeria
            </div>
          </v-card-title>
          <v-carousel hide-controls>
            <v-carousel-item v-for="i in 5" :key="i" :src="`/images/${i}.jpg`" />
          </v-carousel>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>
