<template>
  <v-layout row wrap>
    <v-flex xs12 md6 offset-md3>
      <v-card class="ma-2 px-2">
        <v-card-title class="primary--text">
          <div class="titulo">
            História
          </div>
        </v-card-title>
        <v-parallax id="parallax" src="/images/criancas.jpg" />

        <v-timeline align-top dense>
          <v-timeline-item v-for="(year, i) in years" :key="i" :color="year.color">
            <v-layout pt-3>
              <v-flex xs2>
                <strong>{{ year.year }}</strong>
              </v-flex>
              <v-flex xs10>
                <strong>{{ year.title }}</strong>
                <div :class="`justify-text `">
                  <div v-html="year.text" />
                </div>
              </v-flex>
            </v-layout>
          </v-timeline-item>
        </v-timeline>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data: () => ({
    years: [
      {
        color: 'primary darken-4',
        text:
          'O Grupo Okida começa a fazer ovos de páscoa. Timidamente, os primeiros <b>40</b> ovos foram uma conquista. <b>Durante três anos</b>, fez-se desta maneira, até perceber-se a carência. Começa a perceber que entrega-se além de ovos de chocolate, dignidade, igualdade, felicidade e principalmente sorrisos.',
        title: '',
        year: '2009'
      },
      {
        color: 'primary darken-3',
        year: '2012',
        text:
          'O Grupo Okida contou com apoio de amigos e familiares e conseguiu produzir cerca de <b>900</b> ovos.'
      },
      {
        color: 'primary darken-2',
        year: '2013',
        text:
          'A força da união dos amigos tomou conta e um volume maior de ovos foram confeccionados,  fortalecendo o espírito coletivo de ajudar o próximo. A meta inicial era de 1500 ovos. O resultado final: <b>2133</b> sorrisos!'
      },
      {
        color: 'primary darken-1',
        year: '2014',
        text:
          'Vendo que muitas pessoas estão dispostas a ajudar e mudar o mundo para melhor, a ousadia e espírito de partilha tomaram conta das pessoas que compõe o grupo. Foram distribuídos <b>5038</b> sorrisos. O projeto contou com a participação de mais de 400 pessoas, crianças, jovens, adultos e idosos, movidos pela vontade de ser presente na vida dos menos favorecidos.'
      },
      {
        color: 'primary',
        year: '2015',
        text:
          'Para que todos os ovos de páscoa pudessem ser entregues pelas mãos de nossos voluntários, o número de ovos de chocolate foi diminuído. Nesse ano, fizemos uma entrega de <b>1685</b> ovos com maior intensidade e vivência deste momento tão especial.'
      },
      {
        color: 'primary lighten-1',
        year: '2016',
        text:
          'Para conseguir atender as diversas entidades que solicitando nossa presença, e com o empenho de toda a comunidade, o número de ovos subiu para <b>2762</b> sorrisos. Neste ano, as entregas chegaram até Bela Vista - MS, que havia sido atingida por uma enchente. O espaço de confecção foi ampliado para melhor organização e assim criou-se uma dinâmica de segurança, controle e higienização do ambiente e das pessoas, conforme o número de voluntários crescia.'
      },
      {
        color: 'primary lighten-2',
        year: '2017',
        text:
          'Foram entregues <b>4502</b> sorrisos, chegando em cidades do interior como Rio Verde, Corguinho, e também na comunidade Quilombola Boa Sorte e na comunidade ribeirnha do Rio Miranda. O compromisso com sorrisos supera a distância!'
      },
      {
        color: 'primary lighten-3',
        year: '2018',
        text:
          'O projeto segue ganhando força! <b>5146</b> ovos foram confeccionados em dois dias e foram entregues a mais de 40 entidades ao longo das duas semanas que antecederam a páscoa.'
      },
      {
        color: 'primary lighten-4',
        year: '2019',
        text: 'Em 2019 o projeto completou 10 anos de entregou 5.572 ovos!'
      }
    ]
  })
}
</script>
<style>
</style>
