<template>
  <div id="content">
    <hero2 />
    <projeto />
    <etapas2 />
    <contato />
    <!-- <hero /> -->
  </div>
</template>

<script>
import contato from '@/components/contato.vue'
// import hero from '@/components/hero.vue'
import hero2 from '@/components/hero2.vue'
import etapas2 from '@/components/etapas2.vue'
import projeto from '@/components/projeto.vue'

export default {
  components: {
    // hero,
    hero2,
    contato,
    etapas2,
    projeto
  }
}
</script>
<style scoped>
</style>
