<template>
  <v-layout row wrap>
    <v-flex xs12 md6 offset-md3>
      <v-card class="ma-2 px-2">
        <v-card-title class="primary--text">
          <div class="titulo">
            Insituições beneficiadas
          </div>
        </v-card-title>

        <v-img src="/images/mapa.JPG" />
        

        <v-list>
          <template v-for="(local, index) in locals">
            <v-list-tile :key="index" avatar>
              <v-list-tile-action>
                <v-icon :color="index % 2 == 0 ? 'primary' : 'secondary'">
                  {{ local.icon }}
                </v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ index + 1 }} - {{ local.name }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider v-if="index + 1 < locals.length" :key="`divider-${index}`" />
          </template>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    locals: [
      {
        icon: 'mdi-city',
        name: 'Afrangel',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-church',
        name: 'ALPA Associação Irmãos de Assis',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-school',
        name: 'AMATI',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-school',
        name: 'Aprendizes do Bem',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-church',
        name: 'Casa de Oração Jesus Maria',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CEINF Bem-te-vi',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CEINF Clotilde Chaia',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CEINF Juracy Galvão',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CEINF Ipiranga',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CEINF Moreninha III',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CEINF José Carlos de Lima',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CEINF - Paulo Siufi',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CEINF Vida Nova III',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CEPROSPAL',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-city',
        name: 'CERC Mãe Maria Catarina',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-school',
        name: 'Creche Anandamoyi Roxinha',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-school',
        name: 'Educandário GV',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-school',
        name: 'Florestinha 2',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-school',
        name: 'LBV',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-church',
        name: 'Oratório São Caetano',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      },
      {
        icon: 'mdi-school',
        name: 'Escolinha Filhos da Misericórdia',
        address: 'Rua blaalskdj, 1293 - Bairro asdoasd'
      }
    ]
  })
}
</script>
<style>
</style>
