<template>
  <v-layout row wrap>
    <v-flex xs12 md6 offset-md3>
      <v-card class="ma-2 px-2">
        <v-card-title class="primary--text">
          <div class="titulo">
            Locais de coleta
          </div>
          Locais onde você pode entregar suas barras de chocolate para nós confeccionarmos.
        </v-card-title>


        <v-list>
          <template v-for="(local, index) in locals">
            <v-list-tile :key="index" avatar class="my-1">
              <v-list-tile-action>
                <v-icon :color="index % 2 == 0 ? 'primary' : 'secondary'">
                  {{ local.icon }}
                </v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ index + 1 }} - {{ local.name }}</v-list-tile-title>
                <v-list-tile-sub-title> {{ local.address }} </v-list-tile-sub-title>
                <v-list-tile-sub-title> {{ local.open }} </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider v-if="index + 1 < locals.length" :key="`divider-${index}`" />
          </template>
        </v-list>

        <v-img src="/images/pontos_coleta.png" />
      </v-card>

      <v-card class="ma-2 px-2">
        <v-card-title class="primary--text">
          <div class="titulo">
            Doações por transferência
          </div>

          Caso preferir, nós fazemos as compras dos materiais pra você!
        </v-card-title>

 <v-container grid-list-md text-xs-center>
                  <v-layout row wrap>
                    <v-flex v-for="bank in contas" :key="bank.name" xs12 sm4>
                      <v-card>
                        <v-card-title class="justify-center ">
                          <strong>
                            {{ bank.name }} 
                          </strong>
                        </v-card-title>
                        <v-card-text class="subheading text-xs-center">
                          <span>Agência:</span>
                          <span>{{ bank.agencia }}</span>
                          <br> 
                          <span>C/C:</span>
                          <span>{{ bank.cc }}</span>
                          <br>
                          <span>Nome:</span>
                          <span>{{ bank.nome }}</span>
                          <br>
                          <span>CPF:</span>
                          <span>{{ bank.cpf }}</span>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>

      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    locals: [
      {
        icon: 'mdi-church',
        name: 'Secretaria Paróquia Nossa Senhora de Fátima',
        address: 'Rua Frei Gregório, 537 - Jardim Monte Libano',
        open: 'seg-sex: 8h - 17h'
      },
      {
        icon: 'mdi-gas-station',
        name: 'Auto Posto Nações Indígenas - Taurus',
        address: 'Av. Afonso pena, 7.144',
        open: 'seg-sex: 6h - 22h'
      },
      {
        icon: 'mdi-store',
        name: 'Pistache',
        address: 'Rua Sebastião Lima, 944 - Monte Líbano',
        open: 'seg-sex: 8h - 19h, sábado: 8h - 18'
      },
      {
        icon: 'mdi-domain',
        name: 'Grafiqx',
        address: 'R. Rui Barbosa, 1043 - Vila Santa Dorotheia',
        open: 'seg-sex: 8h - 18h'
      }
    ],
    contas: [
      {
        name: 'Banco do Brasil ',
        nome: 'Yuri Vinicius Furusho Becker',
        agencia: '2916-5',
        cc: '133796-3',
        cpf: '26.285.435/0001-13'
      },
      {
        name: 'Bradesco ',
        nome: 'Luiz Renato R Cavalcante Pereira',
        agencia: '2202',
        cc: '70440',
        cpf: '053.065.281-12'
      },
      {
        name: 'Itaú ',
        nome: 'Amanda Goulart Weber',
        agencia: '1585',
        cc: '05599-7',
        cpf: '046.815.621-65'
      },
      {
        name: 'Santander ',
        nome: 'Camila Rodrigues Souza',
        agencia: '2140',
        cc: '01064206-8',
        cpf: '055.274.381-08'
      }
    ]
  })
}
</script>
<style>
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
</style>
