<template>
  <v-layout row wrap>
    <v-flex xs12 md6 offset-md3>
      <v-card class="ma-2">
        <v-card-title class="primary--text">
          <div class="titulo">
            Como ajudar?
          </div>
        </v-card-title>

        <!-- <v-img src="/images/hug.jpg" /> -->
        <v-parallax id="parallax" src="/images/confeccao2.jpg" />


        <v-card-title primary-title class="layout justify-center">
          <div class="headline text-uppercase text-xs-center">
            Precisamos de sua ajuda!
          </div>
        </v-card-title>
        <v-card-text class="text-xs-center">
          Até hoje o projeto já produziu mais de <b>22286</b> ovos de chocolate.
          <v-btn
            outline
            color="primary"
            to="locais_coleta"
          >
            Clique aqui para saber os locais de coleta
          </v-btn>
        </v-card-text>

        <!-- <v-progress-linear
          height="15"
          color="info"
          value="30"
          indeterminate="true"
        >
          30
        </v-progress-linear>
        <span class="display-1 grey--text">
          Atual: x kg
        </span> -->

        <v-tabs 
          v-model="tabs" 
          icons-and-text
          grow
          slider-color="secondary"
        >
          <v-tab
            href="#tab-1" 
          >
            Chocolates
            <v-icon color="primary">
              mdi-egg-easter
            </v-icon>
          </v-tab>
          <v-tab
            href="#tab-2" 
          >
            Dinheiro
            <v-icon color="primary">
              mdi-cash-multiple
            </v-icon>
          </v-tab>
          <v-tab
            href="#tab-3" 
          >
            Voluntário
            <v-icon color="primary">
              mdi-account-plus
            </v-icon>
          </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tabs">
          <v-tab-item
            value="tab-1"
          >
            <v-card class="mb-2">
              <v-card-title class="justify-center">
                <strong class="subheading text-xs-center">
                  Aceitamos chocolates da seguinte marca para doação.
                  Qualquer quantidade é bem vinda.
                </strong>
                <v-btn outline color="primary" to="/contato">
                  contato
                </v-btn>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap align-content-space-around>
                    <v-flex v-for="choc in chocolates" :key="choc.name" xs12 sm4>
                      <v-card dark color="primary">
                        <v-img :src="choc.img" aspect-ratio="1.5" />
                        <v-card-text class="px-0 text-xs-center">
                          {{ choc.name }}
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item
            value="tab-2"
          >
            <v-card class=" mb-2">
              <v-card-title class="justify-center">
                <strong class="subheading text-xs-center">
                  Você pode fazer depósito nas seguintes contas. Antes entre em contato conosco.
                </strong>
                <v-btn outline color="primary" to="/contato">
                  contato
                </v-btn>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md text-xs-center>
                  <v-layout row wrap>
                    <v-flex v-for="bank in items" :key="bank.name" xs12 sm4>
                      <v-card>
                        <v-card-title class="justify-center display-1">
                          <strong>
                            {{ bank.name }} 
                          </strong>
                        </v-card-title>
                        <v-card-text class="subheading text-xs-center">
                          <span>Agência:</span>
                          <span>{{ bank.agencia }}</span>
                          <br> 
                          <span>C/C:</span>
                          <span>{{ bank.cc }}</span>
                          <br>
                          <span>Nome:</span>
                          <span>{{ bank.nome }}</span>
                          <br>
                          <span>CPF:</span>
                          <span>{{ bank.cpf }}</span>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
          </v-tab-item>

 
          <v-tab-item
            value="tab-3"
          >
            <v-card class="mb-2">
              <v-card-title class="justify-center">
                <strong class="subheading text-xs-center">
                  Quer ajudar em qualquer etapa do processo? Fale conosco!
                </strong>
                <v-btn outline color="primary" to="/contato">
                  contato
                </v-btn>
              </v-card-title>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      rowsPerPageItems: [3, 6, 9],
      pagination: {
        rowsPerPage: 3
      },
      tabs: 'tab-1',
      chocolate: 50,
      chocolates: [
        {
          name: 'Selecta',
          img: '/images/selecta.jpeg'
        }
      ],
      items: [
        {
          name: 'Banco do Brasil ',
          nome: 'Yuri Vinicius Furusho Becker',
          agencia: '2916-5',
          cc: '133796-3',
          cpf: '26.285.435/0001-13'
        },
        {
          name: 'Bradesco ',
          nome: 'Luiz Renato R Cavalcante Pereira',
          agencia: '2202',
          cc: '70440',
          cpf: '053.065.281-12'
        },
        {
          name: 'Itaú ',
          nome: 'Amanda Goulart Weber',
          agencia: '1585',
          cc: '05599-7',
          cpf: '046.815.621-65'
        },
        {
          name: 'Santander ',
          nome: 'Camila Rodrigues Souza',
          agencia: '2140',
          cc: '01064206-8',
          cpf: '055.274.381-08'
        }
      ]
    }
  }
}
</script>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
</style>
